<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>moneyBook</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/custom-theme.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
	<div class="navbar-header">
	  <!--
      <a class="navbar-brand" href="/">
	  <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.jpg') }}">
	  </a>
	  -->
    </div>

	<div class = "container-fluid">
		<a href="/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 30px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Home </button></a>

		<a href="/newnote/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 30px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span> New Book </button></a>
	
		<ul class="nav navbar-nav navbar-right">
		<div style="margin-right: 10px; margin-left: 15px; margin-top: 30px; margin-bottom: 5px;"  class="container-fluid">
		<h5>
		
			<a role="presentation" data-toggle="modal" data-target="#login" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login &nbsp;</a>
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Login</h4>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<form action="" class="form-inline" method="post">
								<input type="text" class="form-control" placeholder="Username" name="username" value="">
								<input type="password" class="form-control" placeholder="Password" name="password" value="">
								<input class="btn btn-primary" type="submit" value="Login">
								</form>

								<div class="container">
								<br>
									<p>No account? <a href='/register'>Register here</a>.</p>
								<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="/register"><span class="glyphicon glyphicon-pencil"></span> Sign up &nbsp;</a>
			<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Sign up</h4>
						</div>
						<div class="modal-body">
							<div class="container center_div">
								<div class="row">
									<form method=post action="/register">
									<dl>
										<dt><label for="username">Username</label>
										<dd><input class="form-control" id="username" name="username" type="text" value="">
										</dd>
					
										<dt><label for="email">Email Address</label>
										<dd><input class="form-control" id="email" name="email" type="text" value="">
										</dd>

										<dt><label for="password">New Password</label>
										<dd><input class="form-control" id="password" name="password" type="password" value="">
										</dd>

										<dt><label for="confirm">Repeat Password</label>
										<dd><input class="form-control" id="confirm" name="confirm" type="password" value="">
										</dd>

										<div class="form-check form-check-inline">
											<label class="form-check-label" for="accept_tos" style="word-wrap:break-word">
												<input class="form-check-input" type="checkbox" id="accept_tos" value="y" />
												I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated May, 2018)
											</label>
										</div>
									</dl>
									<div class="col-md-12 text-center">
										<p><input type=submit class="btn btn-primary" value=Submit></p>
									</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		<a href="/about/"> <span class="glyphicon glyphicon-heart"></span> About &nbsp;</a>	
	
		</div>
		</ul>	
	</div>
	
</header>

<body>
	<div class="border-row" style="width:100%; margin-bottom: 15px;"></div>

		{% block body %}{% endblock %}

	</div>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
</body>

</html>